# Interdit l'exécution de scripts dans ce dossier
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
RemoveHandler .php .phtml
php_flag engine off

# Autorise uniquement les téléchargements de fichiers connus
<FilesMatch "\.(php|phtml|php3|php4|php5|pl|py|jsp|asp|htm|shtml|sh|cgi)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>
